/* line 6, ../sass/content.sass */
section {
  height: 500px;
  width: 1000px;
  margin: 0 auto;
}
/* line 12, ../sass/content.sass */
section .whitecard, section #specifications, section #contacto {
  background-color: white;
  min-height: 250px;
  width: 535px;
  border-radius: 7px;
  padding: 0 10px;
}
/* line 19, ../sass/content.sass */
section .whiteh1, section #specifications h1, section #contacto h1 {
  font-size: 30px;
  padding: 10px 0px 4px;
  border-bottom: 2px solid;
  border-bottom-style: groove;
}
/* line 25, ../sass/content.sass */
section .whitep, section #specifications p, section #contacto p {
  padding: 10px 0;
}
/* line 29, ../sass/content.sass */
section #galeria {
  width: 410px;
  height: 400px;
  display: inline-block;
  vertical-align: bottom;
}
/* line 35, ../sass/content.sass */
section #galeria #picture {
  background-color: white;
  width: 370px;
  height: 310px;
  margin: 0 auto;
  border-radius: 7px 7px 0 0;
}
/* line 42, ../sass/content.sass */
section #galeria #picture img {
  display: block;
  margin: 0 auto;
  padding: 13px 0 0 0;
}
/* line 47, ../sass/content.sass */
section #galeria #slider {
  background-color: white;
  width: 370px;
  height: 90px;
  margin: 0 auto;
  border-radius: 0 0 7px 7px;
}
/* line 54, ../sass/content.sass */
section #galeria #slider .control, section #galeria #slider #prev, section #galeria #slider #next {
  width: 20px;
  height: 71px;
  float: left;
  background-color: transparent;
  cursor: pointer;
}
/* line 61, ../sass/content.sass */
section #galeria #slider #prev {
  background: url(../img/flecha_izq.png) no-repeat right 15px;
}
/* line 64, ../sass/content.sass */
section #galeria #slider #carousel {
  float: left;
}
/* line 67, ../sass/content.sass */
section #galeria #slider #carousel img {
  margin: 0 5px;
}
/* line 69, ../sass/content.sass */
section #galeria #slider #next {
  background: url(../img/flecha_der.png) no-repeat left 15px;
}
/* line 75, ../sass/content.sass */
section #specifications {
  display: inline-block;
  vertical-align: bottom;
}
/* line 85, ../sass/content.sass */
section #specifications ul {
  list-style: square inside;
  padding: 0 0 0 12px;
}
/* line 89, ../sass/content.sass */
section #specifications ul li {
  padding: 10px 0;
  float: left;
  min-width: 50%;
}
/* line 94, ../sass/content.sass */
section #contacto {
  height: 400px;
  float: right;
  margin: 20px 50px 0 0;
}
/* line 107, ../sass/content.sass */
section #contacto form .row {
  padding: 0 0 11px 0;
}
/* line 110, ../sass/content.sass */
section #contacto form .row label {
  width: 20%;
  display: block;
  float: left;
  height: 22px;
  line-height: 22px;
  text-align: right;
  padding: 0 10px 0 0;
  box-sizing: border-box;
}
/* line 120, ../sass/content.sass */
section #contacto form .row input {
  border: none;
  background-color: #eaedf4;
  width: 80%;
  height: 22px;
  text-indent: 5px;
  box-sizing: border-box;
  border-radius: 15px 0 0 15px;
}
/* line 129, ../sass/content.sass */
section #contacto form .row textarea {
  border: none;
  background-color: #eaedf4;
  width: 80%;
  box-sizing: border-box;
  border-radius: 15px 0 0 15px;
  height: 122px;
  padding: 5px 5px;
  resize: none;
}
/* line 139, ../sass/content.sass */
section #contacto form button {
  background-color: #4c4849;
  color: white;
  display: block;
  height: 30px;
  width: 83px;
  border: none;
  border-radius: 15px;
  float: right;
  cursor: pointer;
}
/* line 149, ../sass/content.sass */
section #contacto form button:hover {
  background-color: #605e5f;
}
