/* line 7, ../sass/content.sass */
section {
  height: 400px;
  width: 1000px;
  font-family: Calibri;
  font-size: 12px;
  margin: 0 auto;
}
/* line 16, ../sass/content.sass */
section .whitecard, section #specifications, section #places, section #contacto {
  background-color: white;
  min-height: 200px;
  width: 510px;
  border-radius: 7px;
  padding: 0 20px;
}
/* line 23, ../sass/content.sass */
section .whiteh1, section #specifications #placesh1, section #places #placesh1, section #contacto h1 {
  font-size: 30px;
  padding: 22px 0px 0px;
  border-bottom: 2px solid;
  border-bottom-style: groove;
  min-height: 27px;
}
/* line 30, ../sass/content.sass */
section .whitep, section #specifications p, section #places p, section #contacto p {
  padding: 10px 0;
}
/* line 34, ../sass/content.sass */
section #galeria {
  width: 410px;
  height: 400px;
  display: inline-block;
  vertical-align: bottom;
}
/* line 40, ../sass/content.sass */
section #galeria #picture {
  background-color: white;
  width: 370px;
  height: 310px;
  margin: 0 auto;
  border-radius: 7px 7px 0 0;
}
/* line 47, ../sass/content.sass */
section #galeria #picture img {
  display: block;
  margin: 0 auto;
  padding: 13px 0 0 0;
}
/* line 52, ../sass/content.sass */
section #galeria #slider {
  background-color: white;
  width: 370px;
  height: 90px;
  margin: 0 auto;
  border-radius: 0 0 7px 7px;
}
/* line 59, ../sass/content.sass */
section #galeria #slider .control, section #galeria #slider #prev, section #galeria #slider #next {
  width: 20px;
  height: 71px;
  float: left;
  background-color: transparent;
  cursor: pointer;
}
/* line 66, ../sass/content.sass */
section #galeria #slider #prev {
  background: url(../img/flecha_izq.png) no-repeat right 15px;
}
/* line 69, ../sass/content.sass */
section #galeria #slider #carousel {
  float: left;
}
/* line 72, ../sass/content.sass */
section #galeria #slider #carousel img {
  margin: 0 5px;
}
/* line 74, ../sass/content.sass */
section #galeria #slider #next {
  background: url(../img/flecha_der.png) no-repeat left 15px;
}
/* line 79, ../sass/content.sass */
section #places {
  float: right;
  margin: 192px 50px 0 0;
}
/* line 83, ../sass/content.sass */
section #specifications {
  display: inline-block;
  vertical-align: bottom;
}
/* line 87, ../sass/content.sass */
section #specifications, section #places {
  font-size: 13px;
  font-family: "Calibri";
}
/* line 92, ../sass/content.sass */
section #specifications #logos, section #places #logos {
  width: 180px;
  height: 170px;
  position: absolute;
  right: 45px;
  top: -122px;
  background-color: white;
  text-align: center;
  font-size: 25px;
}
/* line 102, ../sass/content.sass */
section #specifications #logos img, section #places #logos img {
  display: block;
  margin: 0 auto;
}
/* line 105, ../sass/content.sass */
section #specifications #logos span, section #places #logos span {
  vertical-align: text-bottom;
}
/* line 109, ../sass/content.sass */
section #specifications #placesh1, section #places #placesh1 {
  position: relative;
}
/* line 115, ../sass/content.sass */
section #specifications ul, section #places ul {
  list-style: square inside;
  padding: 0 0 0 12px;
}
/* line 119, ../sass/content.sass */
section #specifications ul li, section #places ul li {
  padding: 5px 0;
  float: left;
  min-width: 50%;
}
/* line 124, ../sass/content.sass */
section #contacto {
  height: 400px;
  float: right;
  margin: 0px 50px 0 0;
}
/* line 136, ../sass/content.sass */
section #contacto form {
  font-family: Calibri;
  font-size: 12px;
}
/* line 139, ../sass/content.sass */
section #contacto form .row {
  padding: 0 0 11px 0;
}
/* line 142, ../sass/content.sass */
section #contacto form .row label {
  width: 20%;
  display: block;
  float: left;
  height: 22px;
  line-height: 22px;
  text-align: right;
  padding: 0 10px 0 0;
  box-sizing: border-box;
}
/* line 152, ../sass/content.sass */
section #contacto form .row input {
  border: none;
  background-color: #eaedf4;
  width: 80%;
  height: 22px;
  text-indent: 5px;
  box-sizing: border-box;
  border-radius: 15px 0 0 15px;
}
/* line 161, ../sass/content.sass */
section #contacto form .row textarea {
  border: none;
  font-family: Calibri;
  font-size: 12px;
  background-color: #eaedf4;
  width: 80%;
  box-sizing: border-box;
  border-radius: 15px 0 0 15px;
  height: 122px;
  padding: 5px 5px;
  resize: none;
}
/* line 173, ../sass/content.sass */
section #contacto form button {
  background-color: #4c4849;
  color: white;
  display: block;
  height: 30px;
  width: 83px;
  border: none;
  border-radius: 15px;
  float: right;
  cursor: pointer;
}
/* line 183, ../sass/content.sass */
section #contacto form button:hover {
  background-color: #605e5f;
}
/* line 186, ../sass/content.sass */
section #controls {
  background-color: white;
  height: 32px;
  width: 200px;
  border-radius: 7px;
  text-align: center;
  line-height: 32px;
  float: left;
  margin: 360px 0 0 50px;
}
/* line 196, ../sass/content.sass */
section #controls #placeslist {
  float: left;
  width: 160px;
  font-size: 18px;
}
/* line 201, ../sass/content.sass */
section #controls span {
  float: left;
  width: 160px;
}
/* line 205, ../sass/content.sass */
section #controls #back {
  width: 20px;
  height: 32px;
  float: left;
  background-color: transparent;
  cursor: pointer;
  background: url(../img/flecha_izq.png) no-repeat right 7px;
  background-size: 17px 20px;
}
/* line 214, ../sass/content.sass */
section #controls #go {
  width: 20px;
  height: 32px;
  float: right;
  background-color: transparent;
  cursor: pointer;
  background: url(../img/flecha_der.png) no-repeat right 7px;
  background-size: 17px 20px;
}

/* line 223, ../sass/content.sass */
#mask {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  display: none;
  z-index: -98;
}

/* line 230, ../sass/content.sass */
#imgbg {
  position: absolute;
  z-index: -99;
  top: 0;
  left: 0;
  background-size: cover;
}
