/* line 17, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 29, ../sass/styles.sass */
body {
  background-image: url(http://www.w3schools.com/cssref/paper.gif);
}

/* line 33, ../sass/styles.sass */
header {
  height: 100px;
  background: white;
  margin: 100px 0 0 0;
}
/* line 38, ../sass/styles.sass */
header .container {
  width: 1000px;
  position: relative;
  margin: 0 auto;
}
/* line 43, ../sass/styles.sass */
header .container #logo {
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 150px;
  background: #e57823;
  margin: 0 0 -100px 50px;
}
/* line 50, ../sass/styles.sass */
header .container #filtro {
  position: absolute;
  top: -70px;
  right: 50px;
  height: 50px;
  width: 450px;
}
/* line 57, ../sass/styles.sass */
header .container #filtro div {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: #e57823;
  height: 60%;
  padding: 3px;
  box-sizing: border-box;
  border-radius: 7px 7px;
}
/* line 66, ../sass/styles.sass */
header .container #filtro a {
  float: left;
  height: 50%;
  width: 100px;
  color: white;
  background: black;
  padding: 0 5px;
  border-radius: 7px 7px;
}
/* line 74, ../sass/styles.sass */
header .container #filtro .active {
  background: #e57823;
}

/* line 79, ../sass/styles.sass */
nav {
  height: 100%;
  width: 1000px;
  position: relative;
  margin: 0 auto;
}
/* line 85, ../sass/styles.sass */
nav #socialmedia {
  position: absolute;
  right: 0px;
  height: 50px;
  width: 580px;
}
/* line 90, ../sass/styles.sass */
nav > ul {
  height: 50px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
/* line 95, ../sass/styles.sass */
nav > ul > li {
  margin: 0 18px;
  position: relative;
  text-align: center;
  float: left;
}
/* line 100, ../sass/styles.sass */
nav > ul > li > a {
  color: black;
  text-shadow: 0 0.2em 0.2em #777777;
  height: 50px;
  display: table-cell;
  vertical-align: middle;
  width: 80px;
  text-transform: lowercase;
  text-decoration: none;
}
/* line 109, ../sass/styles.sass */
nav > ul > li > a:hover {
  color: #e57823;
}
