/* line 17, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "CaviarDreams";
  src: url("../font/CaviarDreams-webfont.eot");
  src: url("../font/CaviarDreams-webfont.eot?#iefix") format("embedded-opentype"), url("../font/CaviarDreams-webfont.woff") format("woff"), url("../font/CaviarDreams-webfont.ttf") format("truetype"), url("../font/CaviarDreams-webfont.svg#nunitobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CaviarDreamsBold";
  src: url("../font/Caviar_Dreams_Bold-webfont.eot");
  src: url("../font/Caviar_Dreams_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Caviar_Dreams_Bold-webfont.woff") format("woff"), url("../font/Caviar_Dreams_Bold-webfont.ttf") format("truetype"), url("../font/Caviar_Dreams_Bold-webfont.svg#nunitobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansBold";
  src: url("../font/OpenSans-Bold-webfont.eot");
  src: url("../font/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans-Bold-webfont.woff") format("woff"), url("../font/OpenSans-Bold-webfont.ttf") format("truetype"), url("../font/OpenSans-Bold-webfont.svg#nunitobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansLight";
  src: url("../font/OpenSans-Light-webfont.eot");
  src: url("../font/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans-Light-webfont.woff") format("woff"), url("../font/OpenSans-Light-webfont.ttf") format("truetype"), url("../font/OpenSans-Light-webfont.svg#nunitobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../font/OpenSans-Regular-webfont.eot");
  src: url("../font/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans-Regular-webfont.woff") format("woff"), url("../font/OpenSans-Regular-webfont.ttf") format("truetype"), url("../font/OpenSans-Regular-webfont.svg#nunitobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansSemibold";
  src: url("../font/OpenSans-Semibold-webfont.eot");
  src: url("../font/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans-Semibold-webfont.woff") format("woff"), url("../font/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../font/OpenSans-Semibold-webfont.svg#nunitobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 23, ../sass/styles.sass */
.show {
  display: block !important;
}

/* line 26, ../sass/styles.sass */
.contenedor {
  width: 1000px;
  margin: 0 auto;
  height: 400px;
}

/* line 32, ../sass/styles.sass */
html {
  height: 100%;
  width: 100%;
}

/* line 35, ../sass/styles.sass */
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/foto-01.jpg);
}

/* line 40, ../sass/styles.sass */
h1 {
  font-family: CaviarDreams;
  font-size: 25px;
}

/* line 45, ../sass/styles.sass */
header {
  height: 100px;
  background: white;
  margin: 100px 0 30px 0;
}
/* line 50, ../sass/styles.sass */
header .container {
  width: 1000px;
  z-index: 1;
  position: relative;
  margin: 0 auto;
}
/* line 56, ../sass/styles.sass */
header .container #logo {
  float: left;
  display: block;
  height: 163px;
  width: 189px;
  background: url(../img/logo-good-house.png);
  margin: -63px 0 0 50px;
}
/* line 63, ../sass/styles.sass */
header .container #filtro {
  float: right;
  margin: -70px 50px 0 0;
  height: 50px;
  width: 480px;
  font-family: CaviarDreams;
  font-size: 14px;
}
/* line 71, ../sass/styles.sass */
header .container #filtro .seleccionado {
  color: black;
}
/* line 74, ../sass/styles.sass */
header .container #filtro > div {
  width: 100%;
  background: #e57823;
  height: 60%;
  padding: 5px 6px;
  margin: 20px 0 0 0;
  box-sizing: border-box;
  border-radius: 0 7px 7px 7px;
}
/* line 83, ../sass/styles.sass */
header .container #filtro > div > div {
  float: left;
  width: 212px;
  background: white;
  color: #aaaaaa;
  padding: 0 3px;
  margin: 0 6px 0 0;
  cursor: pointer;
  line-height: 20px;
}
/* line 93, ../sass/styles.sass */
header .container #filtro > div > div span {
  display: block;
}
/* line 95, ../sass/styles.sass */
header .container #filtro > div > div div {
  max-height: 200px;
  display: none;
}
/* line 99, ../sass/styles.sass */
header .container #filtro > div > div div ul {
  float: right;
  width: 212px;
  padding: 0 8px 0 0;
  box-sizing: border-box;
}
/* line 105, ../sass/styles.sass */
header .container #filtro > div > div div ul li {
  float: left;
  text-align: left;
  width: 100%;
  color: black;
  padding: 0 10px 0 5px;
  box-sizing: border-box;
  position: relative;
}
/* line 114, ../sass/styles.sass */
header .container #filtro > div > div div ul li:hover {
  background: #fae1cd;
}
/* line 116, ../sass/styles.sass */
header .container #filtro a {
  float: left;
  height: 40%;
  width: 100px;
  color: white;
  background: #4c4849;
  padding: 0 5px;
  line-height: 17px;
  border-radius: 7px 7px 0 0;
}
/* line 126, ../sass/styles.sass */
header .container #filtro a:hover {
  background: #b84e00;
}
/* line 128, ../sass/styles.sass */
header .container #filtro .active {
  background: #e57823 !important;
}

/* line 133, ../sass/styles.sass */
nav {
  height: 100%;
  width: 1000px;
  position: relative;
  margin: 0 auto;
}
/* line 139, ../sass/styles.sass */
nav #socialmedia {
  float: right;
  height: 50px;
  line-height: 66.66667px;
  padding: 0 40px 0 0;
  text-align: right;
  width: 580px;
}
/* line 147, ../sass/styles.sass */
nav #socialmedia a {
  text-decoration: none;
  color: black;
}
/* line 151, ../sass/styles.sass */
nav #socialmedia a i {
  font-size: 25px;
  margin: 0 10px 0 0;
}
/* line 154, ../sass/styles.sass */
nav > ul {
  float: right;
  height: 50px;
  font-family: CaviarDreams;
  font-size: 16px;
}
/* line 160, ../sass/styles.sass */
nav > ul > li {
  color: black;
  padding: 0 18px;
  position: relative;
  text-align: center;
  float: left;
}
/* line 167, ../sass/styles.sass */
nav > ul > li > a {
  color: inherit;
  text-shadow: 0 0.2em 0.2em #aaaaaa;
  height: 50px;
  display: table-cell;
  vertical-align: middle;
  width: 80px;
  text-transform: lowercase;
  text-decoration: none;
}
/* line 176, ../sass/styles.sass */
nav > ul > li ul {
  display: none;
  position: absolute;
  line-height: 2em;
  margin: 0 -18px;
  width: 100%;
}
/* line 183, ../sass/styles.sass */
nav > ul > li ul li {
  color: black;
  background: white;
  transition-duration: 400ms;
}
/* line 188, ../sass/styles.sass */
nav > ul > li ul li a {
  text-decoration: none;
  color: inherit;
  text-shadow: 0 0.2em 0.2em #aaaaaa;
}
/* line 192, ../sass/styles.sass */
nav > ul > li ul li:last-of-type {
  border-radius: 0 0 7px 7px;
}
/* line 194, ../sass/styles.sass */
nav > ul > li ul li:hover {
  transition-duration: 400ms;
  color: #e57823;
}
/* line 197, ../sass/styles.sass */
nav > ul > li:hover {
  color: #e57823;
}
/* line 200, ../sass/styles.sass */
nav > ul > li:hover ul {
  display: block;
}

/* line 204, ../sass/styles.sass */
footer {
  width: 1000px;
  color: white;
  margin: 30px auto 0 auto;
  overflow: auto;
  font-family: OpenSans;
  font-size: 12px;
  text-shadow: 0 0.1em 0.2em #777777;
}
/* line 213, ../sass/styles.sass */
footer div {
  margin: 12px;
}
/* line 216, ../sass/styles.sass */
footer div:first-of-type {
  float: left;
}
/* line 218, ../sass/styles.sass */
footer div:last-of-type {
  float: right;
}

/* line 223, ../sass/styles.sass */
#portada a {
  clear: both;
  float: left;
  width: 280px;
  height: 35px;
  background: #e57823;
  color: white;
  padding: 3px 20px;
  margin: 5px 0 5px -50px;
  line-height: 29px;
  font-family: OpenSans;
  font-size: 21px;
  text-align: right;
  text-decoration: none;
  box-sizing: border-box;
  transition-duration: 400ms;
  border-radius: 0 5px 5px 0;
}
/* line 241, ../sass/styles.sass */
#portada a:hover {
  transition-property: background, margin;
  transition-duration: 400ms;
  background: #4c4849;
  margin: 5px 0;
}

/* line 248, ../sass/styles.sass */
#listado {
  width: 700px;
  height: 400px;
  margin: 0 auto;
  background: white;
  border-radius: 7px;
}
/* line 255, ../sass/styles.sass */
#listado h1 {
  float: left;
  font-size: 25px;
  padding: 15px;
  font-family: CaviarDreams;
  font-size: 25px;
  line-height: 20px;
  box-sizing: border-box;
}
/* line 263, ../sass/styles.sass */
#listado #ordenacion {
  float: right;
  height: auto;
  padding: 15px;
  font-family: OpenSans;
  font-size: 14px;
  box-sizing: border-box;
}
/* line 271, ../sass/styles.sass */
#listado #ordenacion div {
  float: left;
  height: 20px;
  width: 100px;
  background: #e57823;
  color: white;
  box-sizing: border-box;
  padding: 3px 8px;
  margin: 0 2px;
}
/* line 280, ../sass/styles.sass */
#listado #scrollinterno {
  clear: both;
  height: 340px;
  margin: 50px 0 0 0;
  overflow: auto;
}
/* line 286, ../sass/styles.sass */
#listado #scrollinterno article {
  clear: left;
  margin: 0 15px;
  padding: 15px;
  font-family: OpenSans;
  font-size: 15px;
  box-sizing: border-box;
  border-bottom: 2px solid black;
  overflow: auto;
}
/* line 296, ../sass/styles.sass */
#listado #scrollinterno article:first-of-type {
  border-top: 2px solid black;
}
/* line 298, ../sass/styles.sass */
#listado #scrollinterno article a {
  float: left;
  cursor: pointer;
}
/* line 302, ../sass/styles.sass */
#listado #scrollinterno article a img {
  width: 185px;
  height: 132px;
}
/* line 305, ../sass/styles.sass */
#listado #scrollinterno article div {
  float: left;
  margin: 0 15px;
}
/* line 308, ../sass/styles.sass */
#listado #scrollinterno article div h2 {
  font-size: 22px;
  margin: 0 0 0.3em 0;
}
/* line 311, ../sass/styles.sass */
#listado #scrollinterno article div p {
  font-size: 16px;
  margin: 0 0 0.3em 0;
}
/* line 315, ../sass/styles.sass */
#listado #scrollinterno article div li:before {
  content: "- ";
}

/* line 319, ../sass/styles.sass */
div.contenedor section#nuestrasOficinas {
  float: right;
  height: 400px;
  width: 550px;
  margin: 0 50px 0 0;
  background: white;
  border-radius: 7px;
  padding: 15px;
  font-family: OpenSans;
  font-size: 12px;
  box-sizing: border-box;
}
/* line 331, ../sass/styles.sass */
div.contenedor section#nuestrasOficinas h1 {
  font-size: 25px;
  padding: 0 0 15px 0;
  line-height: 20px;
  box-sizing: border-box;
  border-bottom: 2px solid black;
}
/* line 337, ../sass/styles.sass */
div.contenedor section#nuestrasOficinas p {
  margin: 15px 0;
}
/* line 339, ../sass/styles.sass */
div.contenedor section#nuestrasOficinas article {
  float: left;
  height: 113px;
  width: 230px;
  margin: 15px;
  padding: 0 15px;
  box-sizing: border-box;
}
/* line 347, ../sass/styles.sass */
div.contenedor section#nuestrasOficinas article .telefonos {
  color: #666666;
  font-size: 14px;
}
/* line 350, ../sass/styles.sass */
div.contenedor section#nuestrasOficinas article .email {
  color: black;
  font-size: 13px;
}
/* line 353, ../sass/styles.sass */
div.contenedor section#nuestrasOficinas article h2 {
  font-size: 18px;
  margin: 0 0 0.5em 0;
}
/* line 356, ../sass/styles.sass */
div.contenedor section#nuestrasOficinas article ul {
  margin: 0 0 0.5em 0;
}
/* line 359, ../sass/styles.sass */
div.contenedor section#nuestrasOficinas .border {
  border-right: 2px solid black;
}

/* line 364, ../sass/styles.sass */
.nicescroll-rails {
  border-radius: 5px;
}

/* line 369, ../sass/styles.sass */
#prox {
  width: 400px;
  height: 200px;
  overflow: auto;
  margin: 200px auto;
}
