//vars
$sectionwidth: 1000px
$sectionheight: 400px
$fontfamily: "Calibri"
$fontsize: 13px
//section
section
	height: $sectionheight
	width: $sectionwidth
	font-family: Calibri
	font-size: 12px

	margin: 0 auto

	//common styles
	.whitecard
		background-color: white
		min-height: 200px
		width: 510px
		border-radius: 7px
		padding: 0 20px

	.whiteh1
		font-size: 30px
		padding: 22px 0px 0px
		border-bottom: 2px solid
		border-bottom-style: groove
		min-height: 27px

	.whitep
		padding: 10px 0
	//above classes to extend

	#galeria
		width: 410px
		height: 400px
		display: inline-block
		vertical-align: bottom

		#picture
			background-color: white
			width: 370px
			height: 310px
			margin: 0 auto
			border-radius: 7px 7px 0 0

			img
				display: block
				margin: 0 auto
				padding: 13px 0 0 0

		#slider
			background-color: white
			width: 370px
			height: 90px
			margin: 0 auto
			border-radius: 0 0 7px 7px

			.control
				width: 20px
				height: 71px
				float: left
				background-color: transparent
				cursor: pointer

			#prev
				@extend .control
				background: url(../img/flecha_izq.png) no-repeat right 15px
			#carousel
				float: left

				img
					margin: 0 5px
			#next
				@extend .control
				background: url(../img/flecha_der.png) no-repeat left 15px


	#places
		float: right
		margin: 192px 50px 0 0

	#specifications
		display: inline-block
		vertical-align: bottom

	#specifications, #places
		@extend .whitecard
		font-size: $fontsize
		font-family: $fontfamily

		#logos
			width: 180px
			height: 170px
			position: absolute
			right: 45px
			top: -122px
			background-color: white
			text-align: center
			font-size: 25px

			img
				display: block
				margin: 0 auto
			span
				vertical-align: text-bottom


		#placesh1
			@extend .whiteh1
			position: relative

		p
			@extend .whitep
		ul
			list-style: square inside
			padding: 0 0 0 12px

			li
				padding: 5px 0
				float: left
				min-width: 50%

	#contacto
		@extend .whitecard
		height: 400px
		float: right
		margin: 0px 50px 0 0

		h1
			@extend .whiteh1

		p
			@extend .whitep

		form
			font-family: Calibri
			font-size: 12px
			.row
				padding: 0 0 11px 0

				label
					width: 20%
					display: block
					float: left
					height: 22px
					line-height: 22px
					text-align: right
					padding: 0 10px 0 0
					box-sizing: border-box

				input
					border: none
					background-color: #EAEDF4
					width: 80%
					height: 22px
					text-indent: 5px
					box-sizing: border-box
					border-radius: 15px 0 0 15px

				textarea
					border: none
					font-family: Calibri
					font-size: 12px
					background-color: #EAEDF4
					width: 80%
					box-sizing: border-box
					border-radius: 15px 0 0 15px
					height: 122px
					padding: 5px 5px
					resize: none

			button
				background-color: #4C4849
				color: white
				display: block
				height: 30px
				width: 83px
				border: none
				border-radius: 15px
				float: right
				cursor: pointer
				&:hover
					background-color: #605E5F

	#controls
		background-color: white
		height: 32px
		width: 200px
		border-radius: 7px
		text-align: center
		line-height: 32px
		float: left
		margin: 360px 0 0 50px

		#placeslist
			float: left
			width: 160px
			font-size: 18px

		span
			float: left
			width: 160px

		#back
			width: 20px
			height: 32px
			float: left
			background-color: transparent
			cursor: pointer
			background: url(../img/flecha_izq.png) no-repeat right 7px
			background-size: 17px 20px

		#go
			width: 20px
			height: 32px
			float: right
			background-color: transparent
			cursor: pointer
			background: url(../img/flecha_der.png) no-repeat right 7px
			background-size: 17px 20px
