//vars
$sectionwidth: 1000px
$sectionheight: 500px

//section
section
    height: $sectionheight
    width: $sectionwidth
    margin: 0 auto

    #galeria
        width: 410px
        height: 400px
        display: inline-block
        vertical-align: bottom

        #picture
            background-color: white
            width: 350px
            height: 300px
            margin: 20px auto 0
            border-radius: 7px 7px 0 0
        #slider
            background-color: white
            width: 350px
            height: 80px
            margin: 0 auto
            border-radius: 0 0 7px 7px

    article
        background-color: white
        height: 250px
        width: 535px
        border-radius: 7px
        display: inline-block
        vertical-align: bottom
        padding: 0 10px

        h1
            font-size: 30px
            padding: 10px 0px 4px
            border-bottom: 1px solid
            border-bottom-style: groove

        p
            padding: 10px 0
        ul
            list-style: square inside
            padding: 0 0 0 12px

            li
                padding: 10px 0
                float: left
                min-width: 50%