// vars
$contentwidth: 1000px
$navheight: 100px

$orange: #E57823




$spacer: 20px
$primario: #008081
$secundario: #00BFB7
$hover-menu: #00A2A0

// imports
@import "compass/css3"
@import "compass/reset"
@import "compass/typography"
//@import "font-awesome"
//@import "icons/*.png"
//@import "bourbon/bourbon"
//@import "neat/neat"

// utils
// .container
//	@include outer-container

// background
body
	background-image: url(http://www.w3schools.com/cssref/paper.gif)

// header
header
	height: $navheight
	background: white
	margin: $navheight 0 0 0

	.container
		width: $contentwidth
		position: relative
		margin: 0 auto

		#logo
			position: absolute
			bottom: 0
			height: 150px
			width: 150px
			background: $orange
			margin: 0 0 0-$navheight 50px
		#filtro
			position: absolute
			top: -70px
			right: 50px
			height: $navheight/2
			width: 450px

			div
				position: absolute
				bottom: 0px
				width: 100%
				background: $orange
				height: 60%
				padding: 3px
				box-sizing: border-box
				border-radius: 7px 7px
			a
				float: left
				height: 50%
				width: 100px
				color: white
				background: black
				padding: 0 5px
				border-radius: 7px 7px
			.active
				background: $orange


// menu
nav
	height: 100%
	width: $contentwidth
	position: relative
	margin: 0 auto

	#socialmedia
		position: absolute
		right: 0px
		height: $navheight/2
		width: 580px
	>ul
		height: $navheight/2
		position: absolute
		right: 0px
		bottom: 0px
		>li
			margin: 0 18px
			position: relative
			text-align: center
			float: left
			>a
				color: black
				text-shadow: 0 0.2em 0.2em #777
				height: 50px
				display: table-cell
				vertical-align: middle
				width: 80px
				text-transform: lowercase
				text-decoration: none
				&:hover
					color: $orange