// vars
$contentwidth: 1000px
$navheight: 100px

$primario: #E57823
$secundario: #4C4849
$hover-menu: #00A2A0

$tiempo: 400ms

// imports
@import "compass/css3"
@import "compass/reset"
@import "compass/typography"
//@import "font-awesome"
//@import "icons/*.png"
//@import "bourbon/bourbon"
//@import "neat/neat"

// utils
.show
	display: block !important

.contenedor
	width: $contentwidth
	margin: 0 auto
	height: 400px

// backgrounds
html
	height: 100%
	width: 100%
body
	background-repeat: no-repeat
	background-size: 100% 100%
	background-image: url(../img/foto-01.jpg)

// header
header
	height: $navheight
	background: white
	margin: $navheight 0 30px 0

	.container
		width: $contentwidth
		z-index: 1
		position: relative
		margin: 0 auto

		#logo
			float: left
			height: 163px
			width: 189px
			background: url(../img/logo-good-house.png)
			margin: -63px 0 0 50px
		#filtro
			float: right
			margin: -70px $navheight/2 0 0
			height: $navheight/2
			width: 480px

			.seleccionado
				color: black

			>div
				width: 100%
				background: $primario
				height: 60%
				padding: 5px 6px
				margin: 20px 0 0 0
				box-sizing: border-box
				border-radius: 0 7px 7px 7px				

				>div
					float: left
					width: 212px
					background: white
					color: #AAA
					padding: 0 3px
					margin: 0 6px 0 0
					cursor: pointer
					line-height: 20px

					span
						display: block
					div
						max-height: 200px
						display: none

						ul
							float: right
							width: 212px
							padding: 0 8px 0 0
							box-sizing: border-box

							li
								float: left
								text-align: left
								width: 100%
								color: black
								padding: 0 10px 0 5px
								box-sizing: border-box
								position: relative

								&:hover
									background: #FAE1CD
			a
				float: left
				height: 40%
				width: 100px
				color: white
				background: $secundario
				padding: 0 5px
				border-radius: 7px 7px 0 0

				&:hover
					background: #B84E00
			.active
				background: $primario !important


// menu
nav
	height: 100%
	width: $contentwidth
	position: relative
	margin: 0 auto

	#socialmedia
		float: right
		height: $navheight/2
		width: 580px
	>ul
		float: right
		height: $navheight/2		

		>li
			color: black
			padding: 0 18px
			position: relative
			text-align: center
			float: left

			>a
				color: inherit
				text-shadow: 0 0.2em 0.2em #AAA
				height: $navheight/2
				display: table-cell
				vertical-align: middle
				width: 80px
				text-transform: lowercase
				text-decoration: none
			ul
				display: none
				position: absolute
				line-height: 2em
				margin: 0 -18px
				width: 100%

				li
					color: black
					background: white

					a
						text-decoration: none
						color: inherit
						text-shadow: 0 0.2em 0.2em #AAA
					&:last-of-type
						border-radius: 0 0 7px 7px
					&:hover
						color: $primario
			&:hover
				color: $primario

				ul
					display: block

// footer

footer
	width: $contentwidth
	color: white
	margin: 30px auto 0 auto
	overflow: auto
	text-shadow: 0 0.1em 0.2em #777

	div
		margin: 12px

		&:first-of-type
			float: left
		&:last-of-type
			float: right

// portada
#portada
	a
		clear: both
		float: left
		width: 280px
		height: 35px
		background: $primario
		color: white
		padding: 3px 20px
		margin: 5px 0 5px -50px
		line-height: 29px
		text-align: right
		text-decoration: none
		box-sizing: border-box
		transition-duration: $tiempo
		border-radius: 0 5px 5px 0

		&:hover
			transition-property: background, margin
			transition-duration: $tiempo
			background: #4C4849
			margin: 5px 0

// corretaje - compra
#listado
	width: 700px
	height: 400px
	margin: 0 auto
	background: white
	border-radius: 7px

	h1
		float: left
		font-size: 25px
		padding: 15px
		line-height: 20px
		box-sizing: border-box
	#ordenacion
		float: right
		height: auto
		padding: 15px
		box-sizing: border-box

		div
			float: left
			height: 20px
			width: 100px
			background: $primario
			color: white
			box-sizing: border-box
			padding: 2px 5px
			margin: 0 2px
	#scrollinterno
		clear: both
		height: 340px
		margin: 50px 0 0 0
		overflow: auto

		article
			clear: left
			margin: 0 15px
			padding: 15px
			box-sizing: border-box
			border-bottom: 2px solid black
			overflow: auto

			&:first-of-type
				border-top: 2px solid black
			a
				float: left
				cursor: pointer

				img
					width: 185px
					height: 132px
			div
				float: left
				margin: 0 15px
				h2
					font-size: 18px
					margin: 0 0 .5em 0
				p
					margin: 0 0 1em 0
				li
					&:before
						content: "- "
// Nuestras-oficinas
section#nuestrasOficinas
	float: right
	height: 400px
	width: 550px
	margin: 0 50px 0 0
	background: white
	border-radius: 7px
	padding: 15px
	box-sizing: border-box

	h1
		font-size: 25px
		padding: 0 0 15px 0
		line-height: 20px
		box-sizing: border-box
		border-bottom: 2px solid black
	p
		margin: 15px 0
	article
		float: left
		height: 113px
		width: 230px
		margin: 15px
		padding: 0 15px
		box-sizing: border-box

		.telefonos
			color: #666
			font-size: 14px
		.email
			color: black
			font-size: 13px
		h2
			font-size: 18px
			margin: 0 0 .5em 0
		ul
			margin: 0 0 .5em 0

	.border
		border-right: 2px solid black


// Nicescroll rail fix
.nicescroll-rails
	border-radius: 5px


// Borrar ASAP or Vi'llk'llme
#prox
	width: 400px
	height: 200px
	overflow: auto
	margin: 200px auto
