!!! 5
html
	include includes/head
	
	body
		include includes/header
		section#listado
			h1 Compra
			#ordenacion
				#orden ordenar por:
				#criterio criterio:
			#scrollinterno
				article
					a
						img(src="http://lorempixel.com/output/city-q-c-185-132-3.jp")
					div
						h2 Coyoacán
						p RENTA: $22,500.00 por toda la propiedad
						ul
							li Propiedad con 2 casas independientes
							li Puede ser rentada para Escuela de Artes (música, baile, etc.)
							li Estacionamiento separado para 2 automóviles
							li Jardín anexo y patio detrás de la propiedad
				article
					a
						img(src="http://lorempixel.com/output/city-q-c-185-132-3.jpg")
					div
						h2 Coyoacán
						p RENTA: $22,500.00 por toda la propiedad
						ul
							li Propiedad con 2 casas independientes
							li Puede ser rentada para Escuela de Artes (música, baile, etc.)
							li Estacionamiento separado para 2 automóviles
							li Jardín anexo y patio detrás de la propiedad
				article
					a
						img(src="http://lorempixel.com/output/city-q-c-185-132-3.jpg")
					div
						h2 Coyoacán
						p RENTA: $22,500.00 por toda la propiedad
						ul
							li Propiedad con 2 casas independientes
							li Puede ser rentada para Escuela de Artes (música, baile, etc.)
							li Estacionamiento separado para 2 automóviles
							li Jardín anexo y patio detrás de la propiedad
				article
					a
						img(src="http://lorempixel.com/output/city-q-c-185-132-3.jpg")
					div
						h2 Coyoacán
						p RENTA: $22,500.00 por toda la propiedad
						ul
							li Propiedad con 2 casas independientes
							li Puede ser rentada para Escuela de Artes (música, baile, etc.)
							li Estacionamiento separado para 2 automóviles
							li Jardín anexo y patio detrás de la propiedad
				article
					a
						img(src="http://lorempixel.com/output/city-q-c-185-132-3.jpg")
					div
						h2 Coyoacán
						p RENTA: $22,500.00 por toda la propiedad
						ul
							li Propiedad con 2 casas independientes
							li Puede ser rentada para Escuela de Artes (música, baile, etc.)
							li Estacionamiento separado para 2 automóviles
							li Jardín anexo y patio detrás de la propiedad

		include includes/footer		
		// include includes/static