!!! 5
html
	include includes/head
	body
		include includes/header
		section
			#contacto
				h1 Contacto
				p.
					Para nosotros es muy importante tu opinión,
					Por lo mismo nos ponemos a tus ordenes para
					resolver cualquier tipo de duda o aclaración,
					o cualquier tipo de comentario al respecto.
				form
					.row
						label Nombre:
						input(name="nombre")
					.row
						label E-mail:
						input(name="mail")
					.row
						label Teléfono:
						input(name="telefono")
					.row
						label Mensaje:
						textarea(name="mensaje")
					input(type="submit", value="Enviar").enviar
		include includes/footer