!!! 5
html
	include includes/head
	body
		include includes/header
		section
			#contacto
				h1 Contacto
				p.
					Para nosotros es muy importante tu opinión,
					Por lo mismo nos ponemos a tus ordenes para
					resolver cualquier tipo de duda o aclaración,
					o cualquier tipo de comentario al respecto.
				form
					.row
						label Nombre:
						input
					.row
						label E-mail:
						input
					.row
						label Teléfono:
						input
					.row
						label Mensaje:
						textarea
					button ENVIAR
		include includes/footer