!!! 5
html
	head
		title HEADER
		link(href='/css/styles.css',
			media='all',
			rel='stylesheet',
			type='text/css')
	body
		header
			.container
				#logo LOGO
				#filtro
					a.active compra
					a renta
					div Estos son los filtros
			nav
				#socialmedia
				ul
					li 
						a(href='#') desarrollos
						ul
							li
								a(href='#') Los Olivos
							li
								a(href='#') Periférico
							li
								a(href='#') Convento
							li
								a(href='#') Ermita
					li
						a(href='#') corretaje
					li
						a(href='#') somos
					li
						a(href='#') amigos
					li
						a(href='#') contacto
