!!! 5
head
	title HEADER
	link(href='/css/styles.css',
		media='all',
		rel='stylesheet',
		type='text/css')
body
	header
		nav
			div#logo LOGO
			div#filtro Este es el filtro
			div#socialmedia Social Media
			ul
				li desarrollos
				li corretaje
				li somos
				li amigos
				li contacto
