!!! 5
html
	include includes/head
	
	body
		include includes/header
		section#listado
			h1 Compra
			#orden Botonera AQUI
			#scrollinterno SCROLL
			article Artículo

		include includes/footer		
		// include includes/static