!!! 5
html
	include includes/head
	
	body
		include includes/header
		section#listado
			h1 Compra
			div Botonera AQUI
			div SCROLL
			article Artículo

		include includes/footer		
		// include includes/static