!!! 5
html
	include includes/head
	
	body
		include includes/header
		div#portada.contenedor
			a(href='#') Distrito Federal
			a(href='#') Metepec
			a(href='#') Cuernavaca
			a(href='#') Los Cabos
		include includes/footer