header
	.container
		#logo LOGO
		#filtro
			a.active compra
			a renta
			div Estos son los filtros
	nav
		#socialmedia Social Media
		ul
			li 
				a(href='#') desarrollos
			li
				a(href='#') corretaje
			li
				a(href='#') somos
			li
				a(href='#') amigos
			li
				a(href='#') contacto