header
	.container
		a#logo(href='portada.html')
			img(src='img/logo-good-house.png')
		#filtro
			a.active compra
			a renta
			div
				div
					span#anyselector Zona de inmueble
					#zona
						ul
							li aaa
							li aaa
							li aaa
							li kdfjg
							li kjdhfkjasdh
							li kjdhkjfdhas
							li afkjhasdf
							li aaa
							li aaa
							li aaa
							li kdfjg
							li kjdhfkjasdh
							li kjdhkjfdhas
							li afkjhasdf
				div
					span#tiposelector Tipo de inmueble
					#tipo
						ul
							li aaa
							li aaa
							li aaa
							li kdfjg
							li kjdhfkjasdh
							li kjdhkjfdhas
							li afkjhasdf
							li aaa
							li aaa
							li aaa
							li kdfjg
							li kjdhfkjasdh
							li kjdhkjfdhas
							li afkjhasdf
				i.icon-search
	nav
		#socialmedia
			a(href='#')
				i.icon-linkedin
			a(href='#')
				i.icon-twitter
		ul
			li 
				a(href='#') desarrollos
				ul
					li
						a(href='#') Los Olivos
					li
						a(href='#') Periférico
					li
						a(href='#') Convento
					li
						a(href='#') Ermita
			li
				a(href='#') corretaje
				ul
					li
						a(href='#') Compra
					li
						a(href='#') Venta
					li
						a(href='#') Construcción
			li
				a(href='#') somos
			li
				a(href='#') amigos
			li
				a(href='#') contacto
				ul
					li
						a(href='#') Nuestras oficinas
					li
						a(href='#') ¿Buscas inmueble?
					li
						a(href='#') ¿Ofreces inmueble?
					li
						a(href='#') ¿Eres opcionador?
